<div class="container">
  <app-header></app-header>

  <div class="py-3 px-5">
    <router-outlet></router-outlet>

    <p-divider styleClass="mt-8 mb-5"> </p-divider>

    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <span class="pi pi-info-circle mr-2"></span>
        About
      </ng-template>

      <p>This project was made for learning purposes.</p>

      <ul>
        <li>Typescript</li>
        <li>Angular v14</li>
        <li>Angular Property Binding</li>
        <li>Angular Services</li>
        <li>Angular Routing and Guards</li>
        <li>Angular Template-driven Forms</li>
        <li>
          With the help of
          <a href="https://www.primefaces.org/primeng" target="_blank"
            >PrimeNG component library</a
          >,
          <a href="https://www.primefaces.org/primeng/icons" target="_blank"
            >PrimeIcons icon library</a
          >
          and
          <a href="https://www.primefaces.org/primeflex/" target="_blank"
            >Primeflex css utility library</a
          >.
        </li>
      </ul>

      <p class="font-italic text-sm">
        <span class="pi pi-info-circle mr-2 text-sm"></span>Every data is
        randomized in this app.
      </p>
    </p-panel>
  </div>
</div>
