/* You can add global styles to this file, and also import other style files */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: stretch;

  .list-item {
    display: flex;
    align-items: stretch;

    p-card {
      display: flex;
      align-items: stretch;

      &.project {
        img {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }

      .card-property {
        & + .card-property {
          border-top: 1px solid var(--surface-100);
        }
      }
    }
  }
}

// prime style overwrites
a.p-button {
  text-decoration: none;

  .pi {
    margin-right: 0.5rem;
  }

  &.p-button-primary {
    &:hover {
      background: darken(#8dd0ff, 10);
      border: 1px solid darken(#8dd0ff, 10);
    }
  }

  &.p-button-link {
    &:focus {
      box-shadow: none;
    }

    &:hover,
    &.active {
      color: darken(#8dd0ff, 20);
    }
  }
}
.p-dropdown {
  width: 100%;
}
.tag-list {
  p-togglebutton {
    margin: 3px;
    display: inline-block;

    .p-togglebutton {
      &.p-highlight {
        background-color: var(--primary-color);

        &:hover {
          background-color: #56bdff;
        }
      }
    }
  }
}

// prime form
.field {
  .p-input-icon-left {
    width: 100%;
  }

  .p-inputtext {
    width: 100%;
  }

  p-dropdown {
    width: 100%;
  }
}
